#dijkstra-page
    .row
        display: flex

        .cell
            background-color: hsl(1, 70%, 50%)
            width: 20px
            height: 20px
            cursor: pointer

            &:hover
                background-color: hsl(1, 40%, 50%)

            &.selected
                background-color: black
        
        .wall
            background-color: hsl(200, 70%, 50%)
            width: 20px
            height: 20px
            cursor: pointer

        .path
            background-color: white
            width: 20px
            height: 20px
            cursor: pointer

    section
        margin: 20px
    
    button
        font-size: 20px
        padding: 20px
    
    p
        text-align: center
        margin-top: 20px