#language
    display: flex
    width: 100vw
    justify-content: center
    align-items: center
    flex-wrap: wrap

    .letter
        margin: 10px

    & > div
        // background-color: #e6e6e6

        & > div
            display: flex

    .cell
        width: 10px
        height: 10px
        background-color: #8a8a8a

        &.empty
            background-color: white

        &.point
            // border-radius: 10px
            // border-radius: 100% 0% 100% 0% / 70% 30% 70% 30%
            border-radius: 15% 85% 15% 85% / 85% 15% 85% 15%
            // border-radius: 35% 65% 35% 65% / 65% 35% 65% 35%

        &.top-right
            border-radius: 0 0 0 10px

        &.right-bottom
            border-radius: 10px 0 0 0

        &.bottom-left
            border-radius: 0 10px 0 0

        &.left-top
            border-radius: 0 0 10px 0
        
        &.left
            // border-radius: 0 10px 10px 0
            border-radius: 0% 100% 100% 0% / 0% 15% 85% 100%

        &.right
            // border-radius: 10px 0 0 10px
            border-radius: 100% 0% 0% 100% / 85% 0% 100% 15%

        &.top
            // border-radius: 0 0 10px 10px
            border-radius: 0% 100% 15% 85% / 0% 0% 100% 100%

        &.bottom
            // border-radius: 10px 10px 0 0
            border-radius: 15% 85% 0% 100% / 100% 100% 0% 0%
