#map-page
    #map
        // transform: scale( 1, 0.5) rotate(45deg)

    .row
        display: flex

        .cell
            width: 5px
            height: 5px

            @media (max-width: 680px)
                width: 4px
                height: 4px

            @media (max-width: 540px)
                width: 3px
                height: 3px

            @media (max-width: 420px)
                width: 2px
                height: 2px

    .hex-img
        width: 8px
        height: 8px

    .hex-row
        position: relative

    section
        margin: 20px
    
    button
        font-size: 20px
        padding: 20px