@mixin flex
    display: flex
    justify-content: center
    align-items: center

#sonovier
    background-color: #333
    color: white

    #main
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    #section-menu
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: flex-end
        margin: 20px 20px 10px 20px

        .ipt-label
            position: relative
            margin: 5px
            
            label
                position: absolute
                top: 0
                left: 20px
                background-color: #333
                padding: 2px

            input
                margin-top: 8px
                font-size: 25px
                padding: 10px
                border-radius: 90px
                width: 200px
                border: white 2px solid
                background-color: #333
                color: white
    
    #btn-add
        margin-bottom: 10px

    header
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        width: 100%

        input
            display: none

    h1
        margin: 10px 5px 0 5px
        text-align: center

    .btn
        @include flex
        font-size: 25px
        width: 63px
        height: 63px
        border-radius: 90px
        border: none
        background-color: #555
        color: white
        cursor: pointer
        margin: 5px

    #section-btns
        display: flex
        flex-wrap: wrap
        justify-content: center

        .btn-sound
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            background-color: #555
            border-radius: 10px
            color: white
            width: 100px
            height: 100px
            margin: 5px

            &.play
                background-color: #777
            
            p
                margin-bottom: 10px
                text-align: center

    #popup-section
        right: 10px

    #info
        background-color: #333
        position: absolute
        height: 100vh
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

        section
            display: flex
            flex-direction: column
            align-items: center

            p
                margin: 20px

            hr
                width: 110px
                border-color: #666
                border-style: dashed

            a
                color: white
                padding: 20px
                background-color: #777
                border-radius: 10px
                margin: 5px

    #loader
        @include flex
        background-color: #333
        position: absolute
        height: 100vh
        width: 100%
        justify-content: center
        flex-wrap: wrap

    .rotation
        animation: rotation 2s linear infinite

@keyframes rotation
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)